body {
  background-color: #2B3E50;
	height: 100vh;
	overflow-x: hidden; 
}
/* header area */
.header-area {
    background: #4E5D6C;
}
/* main menu */
.menu-area-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    display: inline-block;
}

.logo img {
    display: block;
}

.main-menu {
    display: flex;
    margin-bottom: 0;
}

.menu-area a {
    display: inline-block;
    text-decoration: none;
}

.main-menu li {
    margin-right: 50px;
    list-style: none;
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu li a {
    padding: 35px 0;
    color: #fff;
    font-family: 'Lato', serif;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}

.main-menu li a:hover {
  color: #C75C5C;
}

.menu-bar {
    cursor: pointer;
  }
  
  .menu-bar i {
    font-size: 20px;
  }
  
  .menu-bar:hover i {
    color: #D6D6D6;
  }
/* mobile menu */
.close-mobile-menu {
  margin-bottom: 10px;
}

.close-mobile-menu a {
  display: block;
  color: #000;
}

.close-mobile-menu a:hover {
  color: #A3A3A3;
}

.mobile-menu-area {
  position: fixed;
  top: 0;
  overflow-y: auto;
  width: 300px;
  height: 100%;
  display: block;
  padding: 25px 20px;
  z-index: 99;
  right: 0;
  background: #fff;
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  transform: translateX(500px);
  opacity: 0;
  visibility: hidden;
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.mobile-menu-area.show {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;

}

.mobile-menu ul {
  padding: 0;
}

.mobile-menu ul li {
  list-style: none;
}

.mobile-menu ul li a {
  padding: 13px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 14px;
  color: #101a23;
  font-weight: 700;
  position: relative;
}

.mobile-menu ul li a:hover {
  color: #C75C5C;
  border-bottom-color: #000;
  text-decoration: none;
  transition: 0.3s;
}

a.active {
  color: #C75C5C !important;
}
/* modal form css */
section.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    background-color: #eeeeee;
    padding: 10px;
    border: 1px solid gray;
  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 5px;
    width: inherit;
    margin-bottom: 0;
    font-size: 15px;
  }
 
/* product type output table */
.table-responsive {
  display: inline-table;
}
@media (max-width: 768px) {
  .table-responsive {
    display: block;
  }
}
.table_holder .table {
  font-size: 14px;
  color: #C7CACF;
}
.table thead th {
  border-bottom: none; 
}
.table td,
.table th {
  border-top: 1px solid #4e5d6c;
}
/* action btn css */
td.action a {
  text-decoration: none;
}
td.action i {
  color: #17a2b8;
}

td.action i:hover {
  color: #138496;
}

/* datatables custom css */
.table.dataTable tbody tr {
  background-color: transparent;
}

label {
  color: #C7CACF;
}

div#example_length select {
  color: #C7CACF;
}

.dataTables_info {
  color: #C7CACF !important;
}

a.paginate_button {
  color: #C7CACF !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #C7CACF !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #7e7e7e !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #979797;
  background: white; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: transparent !important;
  border-color: transparent;
}

table.dataTable tbody th, 
table.dataTable tbody td {
  padding: 8px 10px;
  vertical-align: middle;
}




/* delete btn css */
.deletebtn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 7px;
}


/* ============================================ product page css ====================================== */
/* customize bootstrap modal */
.modal-header {
  background: #337AB7;
  color: #fff;
}

.modal-title {
  font-size: 16px;
}

.modal-footer {
  background: #337AB7;
}

.modal-body {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

td.prod-img {
  width: 8%;
}

td.prod-img img {
  max-width: 100%;
  height: auto;
}
  /* footer area */
  .footer-area {
    background: #4E5D6C;
  }

/* index page css */

/* .prod-type {
  display: none;
}

.prod-name {
  display: none;
}
.user-submit {
  display: none;
} */

.ms-options ul {
  list-style: none;
  padding: 7px;
}

.ms-options label {
  color: inherit;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
  top: 50%;
  transform: translateY(-50%);
}
 