/* header area */
.header-area {
    background: #2C3E50;
}
/* main menu */
.menu-area-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    display: inline-block;
}

.logo img {
    display: block;
}

.main-menu {
    display: flex;
    margin-bottom: 0;
}

.menu-area a {
    display: inline-block;
    text-decoration: none;
}

.main-menu li {
    margin-right: 50px;
    list-style: none;
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu li a {
    padding: 35px 0;
    color: #fff;
    font-family: 'Lato', serif;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}

.menu-bar {
    cursor: pointer;
  }
  
  .menu-bar i {
    font-size: 20px;
  }
  
  .menu-bar:hover i {
    color: #D6D6D6;
  }


/* body css */
section.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
fieldset {
    background-color: #eeeeee;
    padding: 10px;
    border: 1px solid gray;
  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 5px;
    width: inherit;
    margin-bottom: 0;
    font-size: 15px;
  }

  /* footer area */
  .footer-area {
    background: #2C3E50;
  }